html, body {
    background-color:#E0E3DA;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.border {
  color: #084081;
}
.navbar {
  border: 0;
  background-color: #090707;
  color: lightblue;
}
.nav.navbar-nav li a {
  color: white;
}


.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999999;
}

.sidebar-brand {
  color: white;
  background-color: #090707;
  min-height: 100%;
  border-right: 1px solid white;
  max-width: 15%;
  min-width: 10;
}

h2 {
  margin-top: 10px;
  text-align: center;

}

hr {
  background-color: white;
  color: white;
}

li {
  border-top: 1px solid white;
  text-align: left;
}

.col-sm-9{
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

ul {
    list-style-type:none;
}
